@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-Regular.ttf);
}

dialog{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}